# 存储模式 可选值：dataBase, inMemory
STORAGE_MODE=dataBase
# 代理服务器地址
HOST=127.0.0.1
# 代理服务器端口
PORT=3000
# 数据库URL 
MYSQL_URL=mysql://agent:agent-dev-password@127.0.0.1:3307/agent_platform
# Redis URL
REDIS_URL=redis://127.0.0.1:6380
# 深度搜索API密钥
DEEPSEEK_API_KEY=************
# 深度搜索模型ID
DEEPSEEK_MODEL_ID=deepseek-v4-flash

